  <div class="rotate">
    rotate previewd image
  </div>

 
  <div id="origin1" class="fbox">
    
  </div> 
 
<div id="pcroped" style="background:blue">
 <div id="croped">
      this is croped image
    </div>
</div>

 
<div id="wrapper">
  <div id="origin" class="fbox">
    <img src="/uploads/painting/image/2/thumb_MyAccount.png" id="one" title="one" class="draggable" />
    <img src="/uploads/painting/image/2/thumb_MyAccount.png" id="two" title="two" class="draggable" />
    <img src="/uploads/painting/image/2/thumb_MyAccount.png" id="three" title="three" />
  </div>
  <p>test</p>
  <div id="drop" class="fbox">
   
  </div>
</div>


